<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="small" fill="clear" color="primary" routerLink="/">
        <ion-icon  name="chevron-back-outline"></ion-icon>
        regresar
      </ion-button>
    </ion-buttons>
    <ion-title>ARMADURA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/images/armadura.gif" alt="..." style="width: 100%;">
    <ion-card-content>
      <ion-card-title>Card title</ion-card-title>
      <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
