<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card-container">
    <ion-card>
      <img src="/assets/images/ionic1.jpg" alt="..." style="width: 100%;">
      <ion-card-content>
        <ion-card-title>Card title</ion-card-title>
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <ion-button expand="full" color="primary">Ver más</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="/assets/images/ionic2.jpg" alt="..." style="width: 100%;">
      <ion-card-content>
        <ion-card-title>Card title</ion-card-title>
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <ion-button expand="full" color="primary">Ver más</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  
  
</ion-content>
